<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ url_for('bower.static', filename='webcomponentsjs/webcomponents-lite.js' )}}"></script>
    <link rel="import" href="{{ url_for('bower.static', filename='polymer/polymer.html') }}">
    <link rel="import" href="{{ url_for('bower.static', filename='paper-button/paper-button.html') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>

