{% extends "front.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}EnvSensing{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    span.header { display: inline-block; width: 9em; color: gray; margin-left: 1em; }
    span.line-2 { display: inline-block; margin-left: 10.3em; }
  </style>
  <link href="{{ url_for('static', filename='components/jquery-loading/dist/jquery.loading.min.css') }}"
      rel="stylesheet" />
{% endblock %}

{% block main %}
  <form id="filter">
    <label for="date-from">From</label>
    <input type="date" id="date-from" placeholder="yyyy-mm-dd">
    <label for="date-to">To</label>
    <input type="date" id="date-to" placeholder="yyyy-mm-dd">
    <button id="update" class="btn btn-default">Update</button>
  </form>
  <div id="map"></div>

  <div id="cluster-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cluster Analysis</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6">
              <p><span class="header">Center:</span> <span id="c-coordinate"></span></p>
              <p><span class="header">No. of points:</span> <span id="c-count"></span></p>
              <p><span class="header">Duration:</span> from <span id="c-date-from"></span><br>
                <span class="line-2"> to</span> <span id="c-date-to"></span></p>
            </div>
            <div class="col-md-6" id="cluster-info">
              <p><span class="header">Silhouette score:</span> <span id="c-score"></span></p>
              <p><span class="header">Group 1:</span> <span id="c-g1-count"></span> points</p>
              <p><span class="header">Group 2:</span> <span id="c-g2-count"></span> points</p>
            </div>
          </div><!--/.row -->

          <button type="button" class="btn btn-primary pull-right" id="btn-cluster">Do Clustering</button>
          <div class="btn-group pull-right" id="btn-clustered" role="group">
            <button type="button" class="btn btn-default" id="btn-mixed">Mixed</button>
            <button type="button" class="btn btn-default" id="btn-group-1">Group 1</button>
            <button type="button" class="btn btn-default" id="btn-group-2">Group 2</button>
          </div>

          <div id="c-tab">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#temperature"
                  aria-controls="temperature" role="tab" data-toggle="tab">Temperature</a></li>
              <li role="presentation"><a href="#humidity"
                  aria-controls="humidity" role="tab" data-toggle="tab">Humidity</a></li>
              <li role="presentation"><a href="#pressure"
                  aria-controls="pressure" role="tab" data-toggle="tab">Pressure</a></li>
              <li role="presentation"><a href="#monoxide"
                  aria-controls="monoxide" role="tab" data-toggle="tab">Monoxide</a></li>
              <li role="presentation"><a href="#oxidizing"
                  aria-controls="oxidizing" role="tab" data-toggle="tab">Oxidizing Gas</a></li>
              <li role="presentation"><a href="#reducing"
                  aria-controls="reducing" role="tab" data-toggle="tab">Reducing Gas</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="temperature">
                <div id="line-temp"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="humidity">
                <div id="line-humi"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="pressure">
                <div id="line-pres"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="monoxide">
                <div id="line-mono"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="oxidizing">
                <div id="line-oxid"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="reducing">
                <div id="line-redu"></div>
              </div>
            </div>
          </div><!-- /#c-type -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block foot %}
{{ super() }}
<script src="https://www.google.com/jsapi"></script>
<script
  src="{{ url_for('static', filename='analysis-map.js') }}">
</script>
<script
  src="{{ url_for('static', filename='components/js-marker-clusterer/src/markerclusterer_compiled.js') }}">
</script>
<script async defer
  src="{{ url_for('static', filename='components/jquery-loading/dist/jquery.loading.min.js') }}">
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_Ja3Oxmtdg05gKml206MOx8J0fE-8ndQ&callback=initMap&libraries=visualization">
</script>
{% endblock %}
