{% extends "front.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}EnvSensing{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    #map { height: 500px; }
  </style>
  <link href="{{ url_for('static', filename='components/jquery-loading/dist/jquery.loading.min.css') }}"
      rel="stylesheet" />
{% endblock %}

{% block main %}
  <form id="filter">
    <label for="date-from">From</label>
    <input type="date" id="date-from" placeholder="yyyy-mm-dd">
    <label for="date-to">To</label>
    <input type="date" id="date-to" placeholder="yyyy-mm-dd">
    <button id="update" class="btn btn-default">Update</button>
  </form>
  <div id="map"></div>

  <div id="cluster-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cluster Analysis</h4>
        </div>
        <div class="modal-body">
          <p><span class="header">Center:</span> <span id="c-coordinate"></span></p>
          <p><span class="header">No. of points:</span> <span id="c-count"></span></p>
          <p><span class="header">Duration:</span> from <span id="c-date-from"></span>
             to <span id="c-date-to"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block foot %}
{{ super() }}
<script>
  var map;
  var mc;  // MarkerClusterer
  var measures;
  var updateTimer;
  var dataBounds;

  var $map = $('#map');
  var $dateFrom = $('input#date-from');
  var $dateTo = $('input#date-to');

  function initMap() {
    map = new google.maps.Map($('#map')[0], {
      center: {lat: 22.18, lng: 113.55}, zoom: 12
    });
    mc = new MarkerClusterer(map, [], {zoomOnClick: false});

    map.addListener('bounds_changed', function() {
      window.clearTimeout(updateTimer);
      updateTimer = window.setTimeout(function() {
        var bounds = map.getBounds();
        if (dataBounds)
          if (dataBounds.contains(bounds.getNorthEast()) &&
              dataBounds.contains(bounds.getSouthWest()))
            return;
        updatePoints();
        dataBounds = bounds;
      }, 3000);
    });

    google.maps.event.addListener(mc, 'clusterclick', displayCluster);
  }

  function updatePoints() {
    var url = 'area/';
    var args = map.getBounds().toJSON();
    args.from = $dateFrom.val();
    args.to = $dateTo.val();

    $map.loading();
    $.getJSON(url, args, function(resp) {
      console.log(resp.count + ' points loaded.');
      measures = resp.points;
      drawMarkers();
    }).always(function() {
      $map.loading('stop');
    });
  }

  function drawMarkers() {
    mc.clearMarkers();
    markers = new Array(measures.length);
    measures.forEach(function(m, i) {
      markers[i] = new google.maps.Marker({
        position: { lat: m.latitude, lng: m.longitude },
        title: 'item #' + i
      });
      markers[i].id = i;
      mc.addMarker(markers[i]);
    });
  }

  function displayCluster(cluster) {
    var points = new Array(cluster.getMarkers().length);
    cluster.getMarkers().forEach(function(m, i) {
      points[i] = measures[m.id];
    });

    var timestamps = Array.map(points, function(p) { return p.timestamp; });
    var timeMin = Math.min.apply(null, timestamps);
    var timeMax = Math.max.apply(null, timestamps);

    $('#c-coordinate').text(cluster.getCenter());
    $('#c-count').text(cluster.getSize());
    $('#c-date-from').text(new Date(timeMin * 1000));
    $('#c-date-to').text(new Date(timeMax * 1000));


    $('#cluster-modal').modal('show');
  }

  $('#update').click(function(event) {
    event.preventDefault();
    updatePoints();
  });


</script>
<script
  src="{{ url_for('static', filename='components/js-marker-clusterer/src/markerclusterer_compiled.js') }}">
</script>
<script async defer
  src="{{ url_for('static', filename='components/jquery-loading/dist/jquery.loading.min.js') }}">
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_Ja3Oxmtdg05gKml206MOx8J0fE-8ndQ&callback=initMap&libraries=visualization">
</script>
{% endblock %}
