{% extends "front.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}EnvSensing{% endblock %}

{% block main %}
<p>Username: {{ current_user.username }}
<p>E-mail: {{ current_user.email }}
<p>Registered devices:
<ul>
  {% for device in current_user.devices.all() %}
  <li>{{ device.name }} ({{ device.device_id }})<br>
    {{ device.measure_points.count() }} records uploaded.
  </li>
  {% endfor %}
</ul>
<p><a href="{{ url_for('users.password') }}">Change password</a>

{% endblock %}

