{% extends "front.html" %}

{% block main %}
  <form id="filter">
    <select class="form-control" id="device">
      {% for device in devices %}
      <option value="{{ device.device_id }}">{{ device.name }}
        ({{ device.device_id }})</option>
      {% endfor %}
    </select>
    <label for="date-from">From</label>
    <input type="date" id="date-from" placeholder="yyyy-mm-dd">
    <label for="date-to">To</label>
    <input type="date" id="date-to" placeholder="yyyy-mm-dd">
    <label for="limit">Limit</label>
    <input type="number" id="limit" min="1" value="1000"
        title="Maximum number of records to display" placeholder="unlimited">
    <button id="show" class="btn btn-default" disabled>Show</button>
  </form>
  {% block data %}{% endblock %}
{% endblock %}

{% block foot %}
{{ super() }}
<script>
  var SENSOR_NAMES = ['Temperature', 'Humidity', 'Pressure',
      'Monoxide', 'OxidizingGas', 'ReducingGas']
  var $show = $('button#show');

  function readyToGetDataset() {
    $show.removeProp('disabled');
  }

  function onDatasetChanged(callback) {
    var $form = $('form#filter');
    var $device = $('select#device');
    var $dateFrom = $('input#date-from');
    var $dateTo = $('input#date-to');
    var $limit = $('input#limit');

    $show.click(function(event) {
      event.preventDefault();
      $show.prop('disabled', true);

      var url = '/api/devices/' + $device.val() + '/measures/';
      var args = { from: $dateFrom.val(), to: $dateTo.val(), limit: $limit.val() };
      $.getJSON(url, args, function(resp) {
        $show.removeProp('disabled');
        callback(resp.measures);
      });
    });
  }
</script>
{% endblock %}
