{% extends "front.html" %}

{% block main %}
  <form id="filter">
    <select class="form-control" id="device">
      {% for device in devices %}
      <option value="{{ device.device_id }}">{{ device.name }}
        ({{ device.device_id }})</option>
      {% endfor %}
    </select>
    <label for="date-from">From</label>
    <input type="date" id="date-from" placeholder="yyyy-mm-dd">
    <label for="date-to">To</label>
    <input type="date" id="date-to" placeholder="yyyy-mm-dd">
    <label for="limit">Limit</label>
    <input type="number" id="limit" min="1" value="1000"
        title="Maximum number of records to display" placeholder="unlimited">
    <button id="show" class="btn btn-default" disabled>Show</button>
  </form>
  {% block data %}{% endblock %}
{% endblock %}

{% block foot %}
{{ super() }}
<script
  src="{{ url_for('static', filename='measures-base.js') }}">
</script>
{% endblock %}
