{% extends "measures/base.html" %}
{% block title %}EnvSensing{% endblock %}
{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}

{% block data %}
  <div id="map"></div>
  <div>
    <form id="display-options">
      <select class="form-control" id="heatmap">
        <option value="">Hide Heatmap</option>
        <option value="Temperature">Temperature</option>
        <option value="Humidity">Humidity</option>
        <option value="Pressure">Pressure</option>
        <option value="Monoxide">Monoxide</option>
        <option value="OxidizingGas">Oxidizing Gas</option>
        <option value="ReducingGas">Reducing Gas</option>
      </select>
    </form>
  </div>
{% endblock %}

{% block foot %}
{{ super() }}
<script
  src="{{ url_for('static', filename='measures-maps.js') }}">
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_Ja3Oxmtdg05gKml206MOx8J0fE-8ndQ&callback=initMap&libraries=visualization">
</script>
{% endblock %}
