{% extends "front.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}EnvSensing{% endblock %}

{% block main %}
  <form id="filter">
    <select class="form-control" id="device" disabled>
      <option disabled selected>-- select a device --</option>
      {% for device in devices %}
      <option value="{{ device.device_id }}">{{ device.name }}
        ({{ device.device_id }})</option>
      {% endfor %}
    </select>
  </form>
  <div id="table">Loading...</div>

{% endblock %}

{% block foot %}
<script src="https://www.google.com/jsapi"></script>
<script>
  var SENSOR_NAMES = ['Temperature', 'Humidity', 'Pressure',
      'Monoxide', 'OxidizingGas', 'ReducingGas']
  var $form = $('form#filter');
  var $device = $('select#device');
  google.load("visualization", "1.1", {packages:["table"]});
  google.setOnLoadCallback(function() {
    $form.children().removeProp('disabled');
  });

  function drawTable(device_id, callback_finish) {
    var table = new google.visualization.Table($('#table')[0]);
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Latitude');
    data.addColumn('number', 'Longitude');
    data.addColumn('number', 'Accuracy (m)');
    data.addColumn('number', 'Temperature');
    data.addColumn('number', 'Humidity');
    data.addColumn('number', 'Pressure');
    data.addColumn('number', 'Monoxide');
    data.addColumn('number', 'Oxidizing Gas');
    data.addColumn('number', 'Reducing Gas');

    $.getJSON('/api/devices/' + device_id + '/measures/',
      function(resp) {
        data.addRows(resp.measures.length);
        for (var i=0; i<resp.measures.length; ++i) {
          var m = resp.measures[i];
          var time = new Date(m.timestamp * 1000);
          data.setCell(i, 0, time);
          data.setCell(i, 1, m.latitude);
          data.setCell(i, 2, m.longitude);
          data.setCell(i, 3, m.accuracy);

          for (var j=0; j<m.values.length; ++j) {
            var column = 4 + SENSOR_NAMES.indexOf(m.values[j].type);
            data.setCell(i, column, m.values[j].value);
          }
        }

        table.draw(data, {page: 'enable', pageSize: 30,
          sortColumn: 0, sortAscending: false});
      }).done(callback_finish);
  }

  $form.change(function() {
    var device = $device.val();
    $form.children().prop('disabled', true);
    drawTable(device, function() {
      $form.children().removeProp('disabled');
    });
  });

</script>
{% endblock %}
