{% extends "front.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}EnvSensing{% endblock %}

{% block main %}
  <form id="filter">
    <select class="form-control" id="device">
      {% for device in devices %}
      <option value="{{ device.device_id }}">{{ device.name }}
        ({{ device.device_id }})</option>
      {% endfor %}
    </select>
    <label for="date-from">From</label>
    <input type="date" id="date-from" placeholder="yyyy-mm-dd">
    <label for="date-to">To</label>
    <input type="date" id="date-to" placeholder="yyyy-mm-dd">
    <label for="limit">Limit</label>
    <input type="number" id="limit" min="1" value="1000"
        title="Maximum number of records to display" placeholder="unlimited">
    <button id="show" class="btn btn-default" disabled>Show</button>
  </form>
  <div id="table">Please select filters on above...</div>
{% endblock %}

{% block foot %}
<script src="https://www.google.com/jsapi"></script>
<script>
  var SENSOR_NAMES = ['Temperature', 'Humidity', 'Pressure',
      'Monoxide', 'OxidizingGas', 'ReducingGas']
  var $form = $('form#filter');
  var $device = $('select#device');
  var $show = $('button#show');
  var $dateFrom = $('input#date-from');
  var $dateTo = $('input#date-to');
  var $limit = $('input#limit');

  google.load("visualization", "1.1", {packages:["table"]});
  google.setOnLoadCallback(function() {
    $show.removeProp('disabled');
  });

  function drawTable(device_id, callback_finish) {
    var table = new google.visualization.Table($('#table')[0]);
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Latitude');
    data.addColumn('number', 'Longitude');
    data.addColumn('number', 'Accuracy (m)');
    data.addColumn('number', 'Temperature (K)');
    data.addColumn('number', 'Humidity (%)');
    data.addColumn('number', 'Pressure (Pa)');
    data.addColumn('number', 'Monoxide');
    data.addColumn('number', 'Oxidizing Gas');
    data.addColumn('number', 'Reducing Gas');

    var url = '/api/devices/' + device_id + '/measures/';
    var args = { from: $dateFrom.val(), to: $dateTo.val(), limit: $limit.val() };
    $.getJSON(url, args, function(resp) {
      data.addRows(resp.measures.length);
      for (var i=0; i<resp.measures.length; ++i) {
        var m = resp.measures[i];
        var time = new Date(m.timestamp * 1000);
        data.setCell(i, 0, time);
        data.setCell(i, 1, m.latitude);
        data.setCell(i, 2, m.longitude);
        data.setCell(i, 3, m.accuracy);

        for (var j=0; j<m.values.length; ++j) {
          var column = 4 + SENSOR_NAMES.indexOf(m.values[j].type);
          data.setCell(i, column, m.values[j].value);
        }
      }

      var formatter = new google.visualization.NumberFormat({pattern: '#.#'});
      for (var i=3; i<10; i++)
        formatter.format(data, i);

      table.draw(data, {page: 'enable', pageSize: 30,
        sortColumn: 0, sortAscending: false});
    }).done(callback_finish);
  }

  $show.click(function(event) {
    event.preventDefault();
    var device = $device.val();
    $show.prop('disabled', true);
    drawTable(device, function() {
      $show.removeProp('disabled');
    });
  });

</script>
{% endblock %}
